# coding: utf-8

"""
    tackle2.0 api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ExportApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def application_inventory_csv_export_get(self, import_summary_id, **kwargs):  # noqa: E501
        """Export the source CSV for a particular import summary.  # noqa: E501

        Export the source CSV for a particular import summary.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.application_inventory_csv_export_get(import_summary_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str import_summary_id: ImportSummary ID (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.application_inventory_csv_export_get_with_http_info(import_summary_id, **kwargs)  # noqa: E501
        else:
            (data) = self.application_inventory_csv_export_get_with_http_info(import_summary_id, **kwargs)  # noqa: E501
            return data

    def application_inventory_csv_export_get_with_http_info(self, import_summary_id, **kwargs):  # noqa: E501
        """Export the source CSV for a particular import summary.  # noqa: E501

        Export the source CSV for a particular import summary.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.application_inventory_csv_export_get_with_http_info(import_summary_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str import_summary_id: ImportSummary ID (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['import_summary_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method application_inventory_csv_export_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'import_summary_id' is set
        if self.api_client.client_side_validation and ('import_summary_id' not in params or
                                                       params['import_summary_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `import_summary_id` when calling `application_inventory_csv_export_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'import_summary_id' in params:
            query_params.append(('importSummary.id', params['import_summary_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/application-inventory/csv-export', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
